/* css reset */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #cfd2cf;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s ease-in-out;
}

/* back ground of dog img */
.img {
  /* background: url(https:\/\/images.dog.ceo\/breeds\/brabancon\/n02112706_426.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 90%;
  margin: 1rem;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}

.card {
  margin: 1rem;
  border-radius: 50px;
  background-color: #f5eddc;
  height: 90%;
  width: 50%;
  border-radius: 50px;
  text-align: center;
  display: flex;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.card-large {
  width: 70%;
}

.card-title {
  margin: 0.5rem;
  font-size: 2vw;
  background-color: #cfd2cf;
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.center {
  justify-content: center;
  align-items: center;
}

/* for login sign up */
.popUp {
  position: absolute;
  text-align: center;
  color: black;
  background-color: grey;
  height: 5%;
  width: 10%;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5vw;
  padding: 0.5rem;
  right: 15px;
  top: 10px;
}

.d-none {
  display: none;
}

.form-login,
.form-sigup {
  margin: 0.5rem;
  font-size: 1vw;
  background-color: #cfd2cf;
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

/*make result and input space as 2nd small card  */
.result,
.input,
.login,
.sigup {
  margin: 1rem;
  background-color: #a2b5bb;
  height: 90%;
  width: 50%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* input name */
.input > input,
.form-group > input {
  width: 80%;
  height: 25px;
  border-radius: 50px;
  padding: 8px;
  outline: none;
  border: 1px solid #cfd2cf;
  font-size: 1vw;
  margin: 1rem;
}
.form-group > label {
  font-size: 1.5vw;
}

.btn {
  width: 50%;
  height: 35px;
  border-radius: 50px;
  padding: 8px;
  font-weight: bold;
  border: 1px solid #cfd2cf;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1vw;
}

/* Bored  btn */
.bored {
  width: 70%;
  margin-top: 1rem;
}

.btn:hover,
.result p:hover {
  background-color: gray;
  color: white;
}

/*result of api */
.result p {
  margin: 1rem;
  height: 90%;
  width: 90%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f5eddc;
  font-size: 1.5vw;
  transition: all 0.5s ease-in-out;
}

/* activity from api */
.activity {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: rgba(84, 97, 116, 0.5);
  width: 43%;
  height: 8%;
  text-align: center;
  padding-top: 5px;
  border-radius: 10px;
  font-size: 2vw;
  font-weight: bolder;
  color: white;
}

.ip {
  font-size: 1.5vw;
}
/* Media Query */

@media only screen and (max-width: 980px) {
  .card,
  .img {
    height: 50%;
    width: 90%;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .result p {
    font-size: 4vw;
  }

  .input > input {
    width: 65%;
    height: 40px;
    padding: 15px;
    font-size: 3.5vw;
    margin-bottom: 15px;
  }

  .btn {
    width: 50%;
    height: 65px;
    padding: 15px;
    font-size: 3vw;
  }

  .activity {
    width: 63%;
    height: auto;
    font-size: 7vw;
  }

  .ip {
    font-size: 3vw;
    margin-top: 1rem;
  }

  .card-large {
    width: 90vw;
    height: auto;
  }

  .card-title {
    font-size: 6vw;
    width: 50%;
    height: auto;
    margin: 1rem;
  }

  .form-login,
  .form-sigup {
    width: 85%;
    height: auto;
    margin: 2rem;
  }

  .form-group > label {
    width: 10px;
    font-weight: bolder;
    font-size: 3vw;
  }

  .form-group > input {
    width: 70%;
    height: 25px;
    padding: 8px;
    font-size: 2vw;
    margin: 0.5rem;
  }
}
